<div style="margin-bottom:100px; margin-top:50px; font-family: dot-text;">
<h1 class="page_title">退会確認</h1>

    <div>
        <h2 style="margin-left:550px;">本当に退会しますか？</h2>
        
        <p style="margin-left:480px;">退会をすると、投稿にコメントができなくなります。</p>
        <p style="margin-left:530px;">また、今までの投稿も全て削除されます。</p>
        <p style="margin-left:450px;">退会をする場合は「退会する」ボタンをクリックしてください。</p>
        <p style="margin-left:440px;">退会をしない場合は「まだ遊ぶ」ボタンをクリックしてください。</p>
        
        <div style="margin-left:580px;">
            <%= link_to "退会する", users_withdraw_path(current_user.id), method: :patch, style: "margin-right:30px; text-decoration: none;" %>
            <%= link_to "退会しない", users_edit_path(current_user.id), style: "text-decoration: none;" %>
        </div>
        
        
    </div>

</div>